.style-switcher{
    position:fixed;
    right:0;
    top: 10px;
    z-index: 101;
  
   
}
.style-switcher .s-icon{
    position:absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size:28px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right:100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}


.style-switcher .day-night{
    top:55px;
}

